
<app-nav-bar></app-nav-bar>

<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Connexion à votre compte</h2>
                    <form #f="ngForm" name="f" (ngSubmit)="f.form.valid && login()">
                        <input type="email" #emailInput="ngModel" required  id="email" name="email" [(ngModel)]="email"   placeholder="Email" />
                        <div *ngIf="f.submitted && emailInput.invalid" class='error-label'>
                            <div *ngIf="emailInput.errors.required">Ce champ est obligatoire</div>
                        </div>
                        <input type="password" #passwordInput="ngModel" required  id="password" name="password" [(ngModel)]="password"   placeholder="Mot de passe" />
                        <div *ngIf="f.submitted && passwordInput.invalid" class='error-label'>
                            <div *ngIf="passwordInput.errors.required">Ce champ est obligatoire</div>
                        </div>
                        <button type="submit" class="btn btn-default">Connexion</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OU</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>Création de compte!</h2>
                    <form #r="ngForm" name="r" (ngSubmit)="r.form.valid && registration()">
                        <input type="text" placeholder="Votre login"  #loginInput="ngModel" required  id="login" name="login" [(ngModel)]="rlogin"/>
                        <div *ngIf="r.submitted && loginInput.invalid" class='error-label'>
                            <div *ngIf="loginInput.errors.required">Ce champ est obligatoire</div>
                        </div>
                        <input type="text" placeholder="Nom" #firstNameInput="ngModel" required  id="firstName" name="firstName" [(ngModel)]="rfirstName"/>
                        <div *ngIf="r.submitted && firstNameInput.invalid" class='error-label'>
                            <div *ngIf="firstNameInput.errors.required">Ce champ est obligatoire</div>
                        </div>
                        <input type="text" placeholder="Prénoms" #lastNameInput="ngModel" required  id="lastName" name="lastName" [(ngModel)]="rlastName"/>
                        <div *ngIf="r.submitted && lastNameInput.invalid" class='error-label'>
                            <div *ngIf="lastNameInput.errors.required">Ce champ est obligatoire</div>
                        </div>
                        <input type="email" placeholder="Votre adresse e-mail" #emailInput="ngModel" required  id="remail" name="lastName" [(ngModel)]="remail"/>
                        <div *ngIf="r.submitted && emailInput.invalid" class='error-label'>
                            <div *ngIf="emailInput.errors.required">Ce champ est obligatoire</div>
                        </div>
                        <input type="rpassword" placeholder="Mot de passe" #passwordInput="ngModel" required  id="rpassword" name="password" [(ngModel)]="rpassword"/>
                        <div *ngIf="r.submitted && passwordInput.invalid" class='error-label'>
                            <div *ngIf="passwordInput.errors.required">Ce champ est obligatoire</div>
                        </div>
                        <button type="submit" class="btn btn-default">Enregistrement</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->
<app-footer></app-footer>